@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'General';
    src: url(Web-Pages/asset/font/GeneralSans-Medium.ttf);
}

@font-face {
    font-family: 'GeneralL';
    src: url(Web-Pages/asset/font/GeneralSans-Light.ttf);
}

@font-face {
    font-family: 'GeneralBold';
    src: url(Web-Pages/asset/font/GeneralSans-Bold.ttf);
}

body {
    color: #c0c0cf;
    /* background: black; */
    background-color: rgb(27, 36, 68);
}


html {
    font-family: 'General';


    color: #a0a0a6 !important;
    scroll-behavior: smooth;
    backdrop-filter: blue(10px);


}

.navbar {

    background-color: rgb(32, 30, 37);
    -webkit-backdrop-filter: blur(35px);
    
    backdrop-filter: blur(20px);
    transition: 1.5s;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: rgb(27, 36, 68);
    backdrop-filter: blur(4px);
    height: auto;
}


.asset {
    position: absolute;
    display: flex;
    z-index: -1;
}

.welcome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    width: auto;
    font-size: 20px;

    background-color: rgb(45, 43, 43);
    color: #ffffff;
    font-size: 70px;
    position: relative;
    /* background-image: linear-gradient(to bottom , #0d1417, black); */
    margin-top: 10px;
    margin-bottom: 40px;
}

.welcome h4 {
    font-family: 'GeneralL';
}

@media (min-width: 10px) {
    .welcome {
        font-size: 50px;
    }
}

#article {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    width: auto;
    height: auto;
    transform: skewY(-3deg);
   background-color: rgb(27, 36, 68);
    margin-bottom: 36px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    /* padding: top right botth left; */
    padding: 80px 40px 80px 40px
    /* padding: top/bottom right/left; */

    font-size: 18px;
}
.ab-container {
    transform: skewY(3deg);
}


.vk-container {
    transform: skewY(3deg);
    text-align: left;
    padding: 20px;
}
.vk-container h2 td p {
   text-align: left;
    font-size: 15px;
}

.vk-container h2 {
   position: center;
   
}


#resume {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    height: 100%; 
    transform: skewY(-3deg);
    background-color: rgb(27, 36, 68);
    margin-bottom: 33px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    /* padding: top right botth left; */
   padding: 60px 20px 60px 20px

    /* padding: top/bottom right/left; */
}

tr>*+* {
    padding-left: 6em;
    padding-right: 6em;
}



#projects {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    width: 100%;
    height: auto;
    transform: skewY(-3deg);
    background-color: #18171b;
    margin-bottom: 36px;
    margin-top: 30px;
    /* padding: top right botth left; */
    padding: 60px 15px 60px 15px
    /* padding: top/bottom right/left; */
}




.thanks {
    color: #babaf0;

    background-color: #0f0742;
    padding: 40px 45px 40px 48px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    margin-top: 1px;
    bottom: 0;
    left: 0;
    background-color: #4b4b4e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
